/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

CitadelHeroTags
{
	horizontal-align: center;
	padding: 0px 0px 10px 0px;
	flow-children: right;
	overflow: noclip;
}

CitadelHeroTags .heroTag
{
	padding: 5px;
	height: 50px;
}

CitadelHeroTags .heroTag .tagBacker
{
	width: 100%;
	height: 96%;
	background-color: black;
	margin: 1px;
}

.hero_atlas CitadelHeroTags .heroTag .tagBacker
{
	background-color: abramsColor;
	box-shadow: 0px 0px 1px abramsColor;
}

.hero_bebop CitadelHeroTags .heroTag .tagBacker
{
	background-color: bebopColor;
	box-shadow: 0px 0px 1px bebopColor;
}

.hero_bookworm CitadelHeroTags .heroTag .tagBacker
{
	background-color: bookwormColor;
	box-shadow: 0px 0px 1px bookwormColor;
}

.hero_nano CitadelHeroTags .heroTag .tagBacker
{
	background-color: nanoColor;
	box-shadow: 0px 0px 1px nanoColor;
}

.hero_doorman CitadelHeroTags .heroTag .tagBacker
{
	background-color: doormanColor;
	box-shadow: 0px 0px 1px doormanColor;
}

.hero_drifter CitadelHeroTags .heroTag .tagBacker
{
	background-color: drifterColor;
	box-shadow: 0px 0px 1px drifterColor;
}

.hero_dynamo CitadelHeroTags .heroTag .tagBacker
{
	background-color: dynamoColor;
	box-shadow: 0px 0px 1px dynamoColor;
}

.hero_frank CitadelHeroTags .heroTag .tagBacker
{
	background-color: frankColor;
	box-shadow: 0px 0px 1px frankColor;
}

.hero_orion CitadelHeroTags .heroTag .tagBacker
{
	background-color: orionColor;
	box-shadow: 0px 0px 1px orionColor;
}

.hero_haze CitadelHeroTags .heroTag .tagBacker
{
	background-color: hazeColor;
	box-shadow: 0px 0px 1px hazeColor;
}

.hero_astro CitadelHeroTags .heroTag .tagBacker
{
	background-color: astroColor;
	box-shadow: 0px 0px 1px astroColor;
}

.hero_inferno CitadelHeroTags .heroTag .tagBacker
{
	background-color: infernoColor;
	box-shadow: 0px 0px 1px infernoColor;
}

.hero_tengu CitadelHeroTags .heroTag .tagBacker
{
	background-color: tenguColor;
	box-shadow: 0px 0px 1px tenguColor;
}

.hero_kelvin CitadelHeroTags .heroTag .tagBacker
{
	background-color: kelvinColor;
	box-shadow: 0px 0px 1px kelvinColor;
}

.hero_ghost CitadelHeroTags .heroTag .tagBacker
{
	background-color: ghostColor;
	box-shadow: 0px 0px 1px ghostColor;
}

.hero_lash CitadelHeroTags .heroTag .tagBacker
{
	background-color: lashColor;
	box-shadow: 0px 0px 1px lashColor;
}

.hero_forge CitadelHeroTags .heroTag .tagBacker
{
	background-color: forgeColor;
	box-shadow: 0px 0px 1px forgeColor;
}

.hero_mirage CitadelHeroTags .heroTag .tagBacker
{
	background-color: mirageColor;
	box-shadow: 0px 0px 1px mirageColor;
}

.hero_krill CitadelHeroTags .heroTag .tagBacker
{
	background-color: krillColor;
	box-shadow: 0px 0px 1px krillColor;
}

.hero_chrono CitadelHeroTags .heroTag .tagBacker
{
	background-color: chronoColor;
	box-shadow: 0px 0px 1px chronoColor;
}

.hero_synth CitadelHeroTags .heroTag .tagBacker
{
	background-color: synthColor;
	box-shadow: 0px 0px 1px synthColor;
}

.hero_priest CitadelHeroTags .heroTag .tagBacker
{
	background-color: priestColor;
	box-shadow: 0px 0px 1px priestColor;
}

.hero_punkgoat CitadelHeroTags .heroTag .tagBacker
{
	background-color: punkgoatColor;
	box-shadow: 0px 0px 1px punkgoatColor;
}

.hero_gigawatt CitadelHeroTags .heroTag .tagBacker
{
	background-color: gigawattColor;
	box-shadow: 0px 0px 1px gigawattColor;
}

.hero_shiv CitadelHeroTags .heroTag .tagBacker
{
	background-color: shivColor;
	box-shadow: 0px 0px 1px shivColor;
}

.hero_magician CitadelHeroTags .heroTag .tagBacker
{
	background-color: magicianColor;
	box-shadow: 0px 0px 1px magicianColor;
}

.hero_vampirebat CitadelHeroTags .heroTag .tagBacker
{
	background-color: vampirebatColorDk;
	box-shadow: 0px 0px 1px vampirebatColorDk;
}

.hero_hornet CitadelHeroTags .heroTag .tagBacker
{
	background-color: hornetColor;
	box-shadow: 0px 0px 1px hornetColor;
}

.hero_viscous CitadelHeroTags .heroTag .tagBacker
{
	background-color: viscousColor;
	box-shadow: 0px 0px 1px viscousColor;
}

.hero_viper CitadelHeroTags .heroTag .tagBacker
{
	background-color: viperColor;
	box-shadow: 0px 0px 1px viperColor;
}

.hero_warden CitadelHeroTags .heroTag .tagBacker
{
	background-color: wardenColor;
	box-shadow: 0px 0px 1px wardenColor;
}

.hero_wraith CitadelHeroTags .heroTag .tagBacker
{
	background-color: wraithColor;
	box-shadow: 0px 0px 1px wraithColor;
}

.hero_yamato CitadelHeroTags .heroTag .tagBacker
{
	background-color: yamatoColor;
	box-shadow: 0px 0px 1px yamatoColor;
}

.hero_necro CitadelHeroTags .heroTag .tagBacker
{
	background-color: necroColor;
	box-shadow: 0px 0px 1px necroColor;
}

.hero_fencer CitadelHeroTags .heroTag .tagBacker
{
	background-color: fencerColor;
	box-shadow: 0px 0px 1px fencerColor;
}

.hero_werewolf CitadelHeroTags .heroTag .tagBacker
{
	background-color: werewolfColor;
	box-shadow: 0px 0px 1px werewolfColor;
}

.hero_unicorn CitadelHeroTags .heroTag .tagBacker
{
	background-color: unicornColor;
	box-shadow: 0px 0px 1px unicornColor;
}

.hero_familiar CitadelHeroTags .heroTag .tagBacker
{
	background-color: familiarColor;
	box-shadow: 0px 0px 1px familiarColor;
}

CitadelHeroTags .heroTag Label
{
	font-family: block;
	font-size: 30px;
	text-transform: uppercase;
	color: offWhite;
	margin: 1px;
	padding: 0px 10px;
	max-width: 200px;
	text-overflow: shrink;
	max-height: 36px;
	text-align: center;
}

.hero_vampirebat CitadelHeroTags .heroTag Label
{
	color: vampirebatColor;
}

.hero_hornet CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_necro CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_punkgoat CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_magician CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_viper CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_werewolf CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_familiar CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_unicorn CitadelHeroTags .heroTag Label
{
	color: offBlack;
}

.hero_werewolf CitadelHeroTags .heroTag Label
{
	max-width: 250px;
}

.Language_thai CitadelHeroTags .heroTag Label
{
	padding-top: 5px;
	padding-bottom: 1px;
}

CitadelHeroTags .heroTag.Tag1
{
	x: 0px;
	y: 10px;
	transform: rotateZ(-3deg);
}

CitadelHeroTags .heroTag.Tag2
{
	x: 170px;
	y: 45px;
	margin-top: 10px;
	transform: rotateZ(3deg);
}

.hero_frank CitadelHeroTags .heroTag.Tag2
{
	y: 45px;
	x: 220px;
}

.hero_vampirebat CitadelHeroTags .heroTag.Tag2
{
	y: 40px;
	x: 200px;
}

CitadelHeroTags .heroTag.Tag3
{
	x: 350px;
	y: 10px;
	transform: rotateZ(5deg);
}

.hero_familiar CitadelHeroTags .heroTag.Tag3 Label
{
	text-transform: none;
}

CitadelHeroTags .Tag1 .tagBacker
{
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

CitadelHeroTags .Tag2 .tagBacker
{
	animation-name: TagGroove2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

CitadelHeroTags .Tag3 .tagBacker
{
	animation-name: TagGroove3;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes 'TagGroove1'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(2deg);
	}
	
	50%
	{
		transform: rotateZ(2deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'TagGroove2'
{
	0%
	{
		transform: rotateZ(4deg);
	}
	
	25%
	{
		transform: rotateZ(4deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(0deg);
	}
	
	76%
	{
		transform: rotateZ(2deg);
	}
	
	100%
	{
		transform: rotateZ(2deg);
	}
	
}

@keyframes 'TagGroove3'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(-1deg);
	}
	
	50%
	{
		transform: rotateZ(-1deg);
	}
	
	51%
	{
		transform: rotateZ(2deg);
	}
	
	75%
	{
		transform: rotateZ(2deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

