/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define kothScoreResultDisplayTime: 5.1;
#KothCashInMeter
{
	width: 320px;
	height: 114px;
	horizontal-align: middle;
	margin-top: 110px;
	ui-scale: 120%;
	padding: 0px 8px;
	visibility: collapse;
	ui-scale: 70%;
	opacity-mask: url("s2r://panorama/images/main_menu/text_speckle_mask_main_psd.vtex") 0.7;
	opacity-mask-scale: 100% 200%;
	transition-property: border, background-color, margin-top, ui-scale;
	transition-duration: 0.1s;
}

#KothCashInMeter .bg_backer
{
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/hud/top_bar/koth_backer_png.vtex");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.9;
}

#KothCashInMeter.captured
{
	visibility: visible;
}

.gScoreboardOpen #KothCashInMeter.captured
{
	visibility: collapse;
}

#KothCashInMeter.in_range.captured,#KothCashInMeter.in_range.koth_enabled
{
	ui-scale: 100%;
	margin-top: 120px;
	visibility: visible;
}

#KothCashInMeter.in_range.give_up_warning,#KothCashInMeter.in_range.gave_up
{
	animation-name: Koth_Capture_Pulse;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
}

#KothCashInMeter.captured
{
	opacity: 0;
	animation-name: Koth_Captured;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	visibility: visible;
}

#KothCashInMeter.captured .koth_gold
{
	visibility: collapse;
}

#KothCashInMeter.captured .koth_result
{
	visibility: visible;
}

#KothCashInMeter.contested.captured_neutral
{
	opacity: 0;
	animation-name: Koth_Captured;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	visibility: visible;
}

#KothCashInMeter.contested.captured_neutral #KothIndicator,#KothCashInMeter.contested.captured_neutral #KothParticipants,#KothCashInMeter.contested.captured_neutral .koth_result_label
{
	visibility: collapse;
}

#KothCashInMeter.contested.captured_neutral .bg_backer
{
	opacity: 0.5;
}

#KothCashInMeter.capturing
{
	animation-name: Koth_Capture_Enemy_Pulse;
	animation-duration: 0.5s;
	animation-iteration-count: 5;
}

#KothCashInMeter.in_range.capturing
{
	animation-name: Koth_Capture_Pulse;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#KothCashInMeter.in_range.capturing #KothIndicator
{
	animation-name: koth_vibrate_capture;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}

#KothCashInMeter.contested
{
	animation-duration: 0.1s;
	animation-name: Koth_Capture_Enemy_Pulse;
}

#KothCashInMeter.contested #KothIndicator
{
	animation-name: koth_vibrate_capture;
	animation-duration: 0.2s;
}

#KothCashInMeter.trigger_swap.capturing.enemy,#KothCashInMeter.trigger_swap.capturing.friendly
{
	animation-name: swap_owner;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
}

#KothCashInMeter #Koth_Center
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
}

#KothCashInMeter #Koth_Center .koth_gold .noGold
{
	visibility: collapse;
}

#KothCashInMeter #Koth_Center .koth_gold
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 10px;
	height: 50px;
	z-index: 10;
	margin-right: 18px;
	flow-children: right;
}

#KothCashInMeter #Koth_Center .koth_gold .soul_icon
{
	horizontal-align: right;
	vertical-align: center;
	height: 18px;
	width: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("s2r://panorama/images/hud/icons/icon_soul.vsvg");
	wash-color: soulColor;
}

#KothCashInMeter #Koth_Center .koth_gold .koth_gold_text
{
	horizontal-align: left;
	vertical-align: center;
	font-size: 18px;
	color: soulColor;
	font-family: oracle;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 5.0 offBlack;
	text-overflow: shrink;
}

#KothCashInMeter #Koth_Center .koth_result
{
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 20px;
	visibility: collapse;
	animation-name: TagGrooveSm;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#KothCashInMeter #Koth_Center .koth_result Label
{
	font-size: 20px;
	font-family: oracle;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px 3.0 offBlack;
	color: shardColor;
}

.captured_team_1 #KothCashInMeter #Koth_Center .koth_result Label
{
	color: team1Color;
}

#KothCashInMeter #Koth_Center .koth_result .koth_result_label_enemy
{
	visibility: collapse;
	color: #e05a5a;
}

#KothCashInMeter #Koth_Center .koth_result .koth_result_label_timeout
{
	visibility: collapse;
	color: offWhite;
	margin-bottom: 20px;
}

#KothCashInMeter #KothIndicator
{
	horizontal-align: center;
	vertical-align: center;
	width: 100%;
	height: 100%;
	padding: 0px 18px;
	flow-children: right;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
}

.capturing #KothCashInMeter #KothIndicator
{
	animation-name: TagGrooveSm;
	animation-duration: 0.01s;
	animation-iteration-count: infinite;
}

.contested #KothCashInMeter #KothIndicator
{
	animation-name: koth_vibrate_blocked;
	animation-duration: 0.05s;
}

.captured #KothCashInMeter #KothIndicator
{
	animation-name: TagGroove1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.captured_neutral #KothCashInMeter #KothIndicator
{
	visibility: collapse;
}

#KothCashInMeter #KothIndicator .KothCashInMeter
{
	width: 50%;
	vertical-align: middle;
	margin-bottom: 10px;
}

#KothCashInMeter #KothIndicator .KothTeamText
{
	horizontal-align: center;
	vertical-align: center;
	opacity: 0.5;
	font-size: 22px;
	color: rgb(255, 255, 255);
	font-family: oracle;
	padding: 5px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0px 0px 5.0 offBlack;
	text-overflow: shrink;
}

#KothCashInMeter #KothIndicator .KothProgressBar
{
	width: 100%;
	height: 10px;
	vertical-align: center;
	horizontal-align: center;
	border-radius: 0px 50px 50px 0px;
	background-color: rgba(0, 0, 0, 0.9);
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
}

.enemy #KothCashInMeter #KothIndicator .KothProgressBar,.team_2 #KothCashInMeter #KothIndicator .KothProgressBar
{
	border-left: 0px solid black;
	border-right: 2px solid black;
}

#KothCashInMeter #KothIndicator .enemy .KothTeamText
{
	color: #ffc3c3;
}

#KothCashInMeter #KothIndicator .friendly .KothProgressBar
{
	transform: scaleX(-1);
}

#KothCashInMeter #KothIndicator .team_1 .KothProgressBar
{
	transform: scaleX(-1);
}

#KothCashInMeter #KothIndicator .enemy .KothProgressBar
{
	border-left: 0px solid black;
	border-right: 2px solid black;
}

#KothCashInMeter #KothIndicator .team_2 .KothProgressBar
{
	border-left: 0px solid black;
	border-right: 2px solid black;
}

#KothCashInMeter #KothIndicator .enemy .ProgressBarLeft
{
	background-color: colorEnemy;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #e05a5a ), to( #971c1c ) );
}

#KothCashInMeter #KothIndicator .friendly .ProgressBarLeft
{
	background-color: #49adb8;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( offWhite ), to( #b4b8a5 ) );
}

#KothCashInMeter #KothIndicator .team_1 .ProgressBarLeft
{
	background-color: colorEnemy;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( team1Color ), to( team1ColorDark ) );
}

#KothCashInMeter #KothIndicator .team_2 .ProgressBarLeft
{
	background-color: #49adb8;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( team2Color ), to( team2ColorDark ) );
}

#KothCashInMeter #KothIndicator .capturing .KothTeamText
{
	opacity: 1;
}

#KothCashInMeter #KothIndicator .capturing .KothTeamText.in_range
{
	animation-name: Koth_ProgressText_Capturing;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: reverse;
}

#KothCashInMeter #KothIndicator .blocked .KothTeamText
{
	color: offBlack;
	text-shadow: 0px 0px 0px 3.0 #a6ffec;
	opacity: 1;
}

.in_range #KothCashInMeter #KothIndicator .blocked .KothTeamText
{
	animation-name: Koth_ProgressText_Blocked;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
}

#KothCashInMeter #KothIndicator .blocked.friendly .KothTeamText
{
	text-shadow: 0px 0px 0px 3.0 offWhite;
}

#KothCashInMeter #KothIndicator .blocked.enemy .KothTeamText
{
	text-shadow: 0px 0px 0px 3.0 #ffc3c3;
}

#KothCashInMeter #KothIndicator .blocked.team_1 .KothTeamText
{
	text-shadow: 0px 0px 0px 3.0 team1Color;
}

#KothCashInMeter #KothIndicator .blocked.team_2 .KothTeamText
{
	text-shadow: 0px 0px 0px 3.0 team2Color;
}

#KothCashInMeter #KothIndicator #KothCashInMeter_Timer
{
	width: 100%;
	height: 100%;
	background-color: offWhite;
}

#KothCashInMeter #KothTextureElement
{
	width: 50px;
	height: 50px;
	horizontal-align: center;
	vertical-align: center;
	ignore-parent-flow: true;
	border: 3px solid shardColor;
	border-radius: 50%;
	opacity: 0.5;
	visibility: collapse;
}

.captured_friendly #KothCashInMeter #KothTextureElement
{
	border: 3px solid shardColor&90;
}

.enemy #KothCashInMeter #KothTextureElement
{
	border: 0px solid #ffffff00;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	wash-color: colorEnemy;
	opacity: 1;
	visibility: visible;
}

.captured_team_1 #KothCashInMeter #KothTextureElement
{
	border: 3px solid team1Color;
}

.captured_team_2 #KothCashInMeter #KothTextureElement
{
	border: 3px solid team2Color;
}

#KothCashInMeter.contested .KothIndicator
{
	animation-name: koth_vibrate_blocked;
	animation-duration: 0.05s;
}

#KothCashInMeter.captured #KothIndicator .blocked .KothTeamText
{
	animation-name: none;
	text-shadow: 0px 0px 0px 3.0 offBlack;
	color: offWhite;
}

#KothCashInMeter.captured #KothIndicator .partial_progress
{
	opacity: 0.6;
}

#KothCashInMeter.captured #KothIndicator .full_progress .KothTeamText
{
	opacity: 1;
}

#KothCashInMeter.captured #Koth_Center .koth_result
{
	visibility: visible;
}

#KothCashInMeter.captured_team_1 #Koth_Center .koth_result_label
{
	color: team1Color;
}

#KothCashInMeter.captured_team_2 #Koth_Center .koth_result_label
{
	color: team2Color;
}

#KothCashInMeter.captured.captured_enemy #Koth_Center .koth_result_label
{
	visibility: collapse;
}

#KothCashInMeter.captured.captured_enemy #Koth_Center .koth_result_label_enemy
{
	visibility: visible;
}

#KothCashInMeter.captured.captured_neutral #Koth_Center .koth_result_label_timeout
{
	visibility: visible;
}

#KothCashInMeter.captured.captured_neutral #KothIndicator
{
	visibility: collapse;
}

#KothCashInMeter.capturing #KothTextureElement
{
	visibility: collapse;
}

#KothCashInMeter.captured #KothTextureElement
{
	animation-name: Koth_Captured_Texture_Success;
	animation-duration: 1s;
	animation-iteration-count: 3;
}

#KothCashInMeter.captured_friend #KothTextureElement
{
	border: 3px solid shardColor;
	visibility: collapse;
}

#KothCashInMeter.captured_team_1 #KothTextureElement
{
	border: 3px solid shardColor;
	visibility: collapse;
}

#KothCashInMeter.captured_team_2 #KothTextureElement
{
	border: 3px solid shardColor;
	visibility: collapse;
}

#KothCashInMeter.captured_enemy #KothTextureElement
{
	border: 0px solid #ffffff00;
	background-image: url("s2r://panorama/images/icons/icon_x.vsvg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 1;
	animation-name: Koth_Captured_Texture_Failure;
	wash-color: colorEnemy;
}

#KothCashInMeter.captured_enemy #KothIndicator #Koth_Center
{
	background-color: colorEnemy;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #e05a5a ), to( #971c1c ) );
}

#KothCashInMeter.captured_friendly #KothIndicator #Koth_Center
{
	background-color: #49adb8;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5fc1cb ), to( #0b5685 ) );
}

#KothCashInMeter.captured_team_1 #KothIndicator #Koth_Center
{
	background-color: colorEnemy;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team1Color ), to( team1ColorDark ) );
}

#KothCashInMeter.captured_team_2 #KothIndicator #Koth_Center
{
	background-color: #49adb8;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( team2Color ), to( team2ColorDark ) );
}

#KothParticipants
{
	height: 28px;
	horizontal-align: middle;
	vertical-align: bottom;
	ignore-parent-flow: true;
	margin-bottom: 15px;
	flow-children: right;
	width: 100%;
	visibility: collapse;
}

.in_range #KothParticipants
{
	visibility: visible;
}

#KothParticipants .KothParticipantsColumn
{
	width: 50%;
}

#KothParticipants #KothParticipantsColumnRight
{
	horizontal-align: right;
}

#KothParticipants .KothParticipantsTeam
{
	max-width: 120px;
	padding: 0px;
	horizontal-align: center;
}

#KothParticipants #KothParticipantsTeam1
{
	margin-right: 10px;
	flow-children: left;
}

#KothParticipants #KothParticipantsTeam2
{
	flow-children: right;
	margin-left: 10px;
}

#KothParticipants .KothParticipant
{
	width: 10px;
	height: 10px;
	vertical-align: middle;
	margin: 5px;
	background-color: blue;
}

#KothParticipants CitadelHeroImage
{
	width: 18px;
	height: 18px;
	width: fill-parent-flow(1.0);
	max-width: 30px;
	height: fill-parent-flow(1.0);
}

Label.koth_time_warning
{
	horizontal-align: center;
	font-family: block;
	font-size: 16px;
	text-transform: uppercase;
	text-shadow: 0px 0px 0px 3.0 offBlack;
	color: #f9ec74;
	margin-top: 20px;
	visibility: collapse;
	animation-name: TagGrooveSm;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.give_up_warning.in_range Label.koth_time_warning,.gave_up.in_range Label.koth_time_warning
{
	visibility: visible;
}

@keyframes 'Koth_Capture_Pulse'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.03;
		brightness: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

@keyframes 'Koth_ProgressText_Capturing'
{
	0%
	{
		transform: rotateZ(-2deg);
		brightness: 1;
	}
	
	50%
	{
		transform: rotateZ(0deg);
		brightness: 1.2;
	}
	
	100%
	{
		transform: rotateZ(2deg);
		brightness: 1;
	}
	
}

@keyframes 'Koth_Capture_Left'
{
	0%
	{
		transform: rotateZ(3deg);
	}
	
	25%
	{
		transform: rotateZ(3deg);
	}
	
	26%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(0deg);
	}
	
	51%
	{
		transform: rotateZ(1deg);
	}
	
	75%
	{
		transform: rotateZ(1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'Koth_Capture_Right'
{
	0%
	{
		transform: rotateZ(-3deg);
	}
	
	25%
	{
		transform: rotateZ(-3deg);
	}
	
	26%
	{
		transform: rotateZ(0deg);
	}
	
	50%
	{
		transform: rotateZ(0deg);
	}
	
	51%
	{
		transform: rotateZ(-1deg);
	}
	
	75%
	{
		transform: rotateZ(-1deg);
	}
	
	76%
	{
		transform: rotateZ(0deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'Koth_ProgressText_Blocked'
{
	0%
	{
		pre-transform-scale2d: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.2;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
	}
	
}

@keyframes 'Koth_Capture_Enemy_Pulse'
{
	0%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
	50%
	{
		pre-transform-scale2d: 1.05;
		brightness: 1.6;
	}
	
	100%
	{
		pre-transform-scale2d: 1;
		brightness: 1;
	}
	
}

@keyframes 'koth_vibrate_capture'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	25%
	{
		transform: rotateZ(-0.8deg);
	}
	
	50%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(0.8deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'koth_vibrate_blocked'
{
	0%
	{
		transform: rotateZ(0deg);
	}
	
	25%
	{
		transform: rotateZ(-2deg);
	}
	
	50%
	{
		transform: rotateZ(0deg);
	}
	
	75%
	{
		transform: rotateZ(2deg);
	}
	
	100%
	{
		transform: rotateZ(0deg);
	}
	
}

@keyframes 'Koth_Captured'
{
	0%
	{
		pre-transform-scale2d: 1;
		opacity: 1.0;
	}
	
	5%
	{
		pre-transform-scale2d: 1.4;
	}
	
	80%
	{
		pre-transform-scale2d: 1.4;
		opacity: 1.0;
	}
	
	100%
	{
		opacity: 0.0;
		pre-transform-scale2d: 1.4;
	}
	
}

@keyframes 'Koth_Captured_Texture_Success'
{
	0%
	{
		pre-transform-scale2d: 1;
		opacity: 0;
		opacity: 0.1;
	}
	
	100%
	{
		opacity: 0.0;
		pre-transform-scale2d: 1.8;
	}
	
}

@keyframes 'Koth_Captured_Texture_Failure'
{
	0%
	{
		pre-transform-scale2d: 1;
		opacity: 0;
		opacity: 0.8;
	}
	
	100%
	{
		opacity: 0.0;
		pre-transform-scale2d: 1.8;
	}
	
}

