/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@define hintShowDuration: 0.25s;
@define hintTimingFunction: ease-in;
@define colorEmphasis: #FFCC00;
@define colorCommonOffBlack: #222222;
.TutorialPanel
{
	background-color: #00000000;
	width: 100%;
	height: 100%;
	transition-property: background-color;
	transition-duration: 0.3s;
}

#HeroTrainingIntro,#HeroTrainingOutro
{
	width: 560px;
	height: fit-children;
	padding: 36px 24px 24px 24px;
	flow-children: down;
	horizontal-align: center;
	vertical-align: center;
	visibility: collapse;
	border-radius: 9px;
	border: 1px solid rgba(255, 255, 255, 0.025);
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( ominousGreen&10 ), to( ominousGreen&20 ) );
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 32px 0px;
}

.showIntroModal #HeroTrainingIntro
{
	visibility: visible;
}

.showOutroModal #HeroTrainingOutro
{
	visibility: visible;
}

.showIntroModal .TutorialPanel,.showOutroModal .TutorialPanel
{
	background-color: #000000ee;
}

.showIntroModal .TutorialTasksContainer,.showOutroModal .TutorialTasksContainer
{
	visibility: collapse;
}

.introHeader
{
	width: 100%;
}

.introHeader Label
{
	font-size: 32px;
	vertical-align: middle;
	color: offWhite;
	font-family: oracle;
	horizontal-align: center;
	text-align: center;
	font-weight: bold;
}

.ReportCardPanel .introHeader Label
{
	font-size: 16px;
	horizontal-align: center;
}

.introText
{
	font-size: 22px;
	padding: 12px;
	text-align: center;
	horizontal-align: center;
	font-weight: semi-bold;
	color: offWhite&88;
}

.introHighlight
{
	font-weight: semi-bold;
	color: #ffffff;
	background-color: red;
	border: 1px solid red;
}

.OutroNavigation
{
	flow-children: right;
	width: fit-children;
	vertical-align: center;
	horizontal-align: center;
	margin-bottom: 10px;
}

#StartButton,#ContinueButton
{
	horizontal-align: center;
	margin: 32px 20px 12px 18px;
}

#ContinueButton
{
	visibility: collapse;
}

.TutorialTasksContainer
{
	width: 360px;
	horizontal-align: right;
	margin: 28px;
	margin-right: 50px;
	height: fit-children;
	overflow: noclip;
	ui-scale: 120%;
}

.TutorialTask5Finished .gShopOpen .TutorialTasksContainer
{
	vertical-align: bottom;
	height: 200px;
}

.TutorialPanel.HideSandboxTasks
{
	visibility: collapse;
}

.nonGuidedTesting .TutorialPanel
{
	visibility: collapse;
}

.NewPlayerTable
{
	flow-children: down;
	width: 100%;
}

.NewPlayerHeader
{
	margin-bottom: 0px;
	background-color: gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #2c2a28 ), to( #181716 ) );
	width: 100%;
	padding: 12px 12px 10px 12px;
	visibility: collapse;
}

.NewPlayerHeader Label
{
	color: offWhite;
	font-family: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 12px 1 black;
}

.NewPlayerIcon
{
	width: 18px;
	height: 18px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/icons/icon_thumbsup.vsvg");
	wash-color: ritualGreen;
	background-size: contain;
	margin-bottom: 3px;
	visibility: collapse;
}

.NewPlayerTitle
{
	font-weight: bold;
	font-size: 18px;
	color: offWhite;
	vertical-align: middle;
	margin: 0px;
	horizontal-align: left;
}

.EntryName
{
	font-weight: bold;
	horizontal-align: center;
	color: #222222;
}

.TaskStatus
{
	width: 28px;
	height: 28px;
	horizontal-align: right;
	margin-right: 5px;
	background-image: url("s2r://panorama/images/getting_started/checklist_task_empty_png.vtex");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	visibility: visible;
}

#TutorialTask3 .TaskStatus,#TutorialTask4 .TaskStatus
{
	horizontal-align: left;
	margin-top: 20px;
}

#TutorialTask3 .TaskHeader
{
	margin-top: 16px;
}

#TutorialTask3 .Command,#TutorialTask4 .Command
{
	font-size: 22px;
	font-weight: bold;
}

#TutorialTask4 .TaskDesc
{
	margin-top: 16px;
}

.completed .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: brandGreen;
}

.sandboxAbility1Used .Ability1 .TaskStatus,.sandboxAbility1Passive .Ability1 .TaskStatus,.sandboxAbility2Used .Ability2 .TaskStatus,.sandboxAbility2Passive .Ability2 .TaskStatus,.sandboxAbility3Used .Ability3 .TaskStatus,.sandboxAbility3Passive .Ability3 .TaskStatus,.sandboxAbility4Used .Ability4 .TaskStatus,.sandboxAbility4Passive .Ability4 .TaskStatus
{
	background-image: url("s2r://panorama/images/getting_started/checklist_task_complete_png.vtex");
	wash-color: brandGreen;
}

.NewPlayerTask
{
	width: 100%;
	font-size: 18px;
	font-weight: semi-bold;
	color: offWhite;
	opacity: 1;
	vertical-align: top;
	vertical-align: middle;
	flow-children: down;
	background-color: ominousGreen&20;
	world-blur: ingameHudBlur;
	border-radius: 5px;
	padding-bottom: 10px;
}

.NewPlayerTask.FinishedRow
{
	flow-children: down;
}

.NewPlayerTask .Ability2,.NewPlayerTask .Ability3,.NewPlayerTask .Ability4
{
	visibility: collapse;
}

.TaskText
{
	flow-children: down;
	margin: 16px 20px 10px 20px;
	width: 100%;
}

.TaskSteps
{
	flow-children: down;
	height: 100%;
	width: 100%;
	border: 1px solid red;
}

.TaskName
{
	vertical-align: middle;
	font-size: 26px;
	line-height: 28px;
	horizontal-align: left;
	vertical-align: middle;
	font-weight: bold;
	font-family: oracle;
	text-shadow: 2px 2px 0px offBlack&20;
}

.TaskNumber
{
	font-size: 18px;
	font-family: block;
	color: offWhite&44;
	font-weight: normal;
}

.TaskHeader,.TaskDesc
{
	vertical-align: middle;
	font-size: 18px;
	font-weight: semi-bold;
	margin-bottom: 5px;
	color: offWhite&88;
	margin-top: 0px;
	line-height: 28px;
}

.TaskHeader
{
	margin-top: 30px;
}

@keyframes 'taskComplete'
{
	0%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 1;
		wash-color: offWhite&00;
		pre-transform-scale2d: 1.05;
	}
	
	50%
	{
		brightness: 2;
		opacity: 1;
		wash-color: offWhite;
		pre-transform-scale2d: 1.25;
	}
	
	100%
	{
		brightness: 1;
		ui-scale: 100%;
		opacity: 0;
		wash-color: offWhite&00;
		pre-transform-scale2d: 1.05;
	}
	
}

@keyframes 'showTask'
{
	0%
	{
		opacity: 0;
		brightness: 2;
	}
	
	70%
	{
		opacity: 0;
		brightness: 2;
	}
	
	100%
	{
		opacity: 1;
		brightness: 1;
		pre-transform-scale2d: 1;
	}
	
}

#TutorialTask1,#TutorialTask2,#TutorialTask3,#TutorialTask4,#TutorialTask5,#TutorialTask6
{
	opacity: 0;
}

#TutorialTask1
{
	opacity: 1;
}

.TutorialTask1Finished #TutorialTask1
{
	opacity: 0;
}

.TutorialTask1Finished #TutorialTask2
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.TutorialTask2Finished #TutorialTask2
{
	opacity: 0;
}

.TutorialTask2Finished #TutorialTask3
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1s;
	animation-iteration-count: 1;
}

.TutorialTask3Finished #TutorialTask3
{
	opacity: 0;
}

.TutorialTask3Finished #TutorialTask4
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.TutorialTask4Finished #TutorialTask4
{
	opacity: 0;
}

.TutorialTask4Finished #TutorialTask5
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.TutorialTask5Finished #TutorialTask5
{
	opacity: 0;
}

.TutorialTask5Finished #TutorialTask6
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.TutorialTask6Finished #TutorialTask6
{
	opacity: 0;
}

.TutorialTask6Finished #TutorialTask7
{
	opacity: 1;
	animation-name: showTask;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

.TutorialTask1Finished #TutorialTask1,.TutorialTask2Finished #TutorialTask2,.TutorialTask3Finished #TutorialTask3,.TutorialTask4Finished #TutorialTask4,.TutorialTask5Finished #TutorialTask5,.TutorialTask6Finished #TutorialTask6,.TutorialTask7Finished #TutorialTask7,.TutorialTask8Finished #TutorialTask8
{
	animation-name: taskComplete;
	animation-duration: 0.4s;
	animation-iteration-count: 1;
}

.MovementRow
{
	flow-children: right;
	width: 100%;
	height: fit-children;
	margin: 3px 0px;
}

.MovementRow Panel
{
	vertical-align: center;
}

.topRow
{
	margin-top: 18px;
}

.KeyboardShortcut
{
	flow-children: right;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	padding: 2px 10px 4px 10px;
	min-width: 105px;
	text-align: center;
	ignore-parent-flow: true;
	horizontal-align: right;
	vertical-align: middle;
	border-radius: 2px;
	color: offWhite;
}

.CommandPrefix,.Command
{
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	font-family: oracle;
	vertical-align: middle;
	color: offWhite;
}

.footnote
{
	color: offWhite&44;
	text-transform: uppercase;
	font-weight: medium;
	font-size: 14px;
}

.CommandPrefix
{
	margin-right: 6px;
}

.InlineGlyph
{
	width: 20px;
	height: 20px;
}

.TaskName.Completed
{
	vertical-align: middle;
	font-weight: medium;
	color: #ffffff90;
}

.NewPlayerTaskSpacer
{
	width: 2px;
	height: 30px;
	background-color: #ffffff50;
	background-color: brandGreen;
	horizontal-align: right;
	margin: 0px 25px 0px 10px;
	visibility: visible;
	opacity: 0.75;
	border-radius: 3px;
}

.FeaturedAbility
{
	flow-children: right;
	margin: 12px 0px 0px 0px;
}

.AbilityUse,.AbilityUsed,.AbilityPassive
{
	font-size: 16px;
	font-weight: bold;
	padding: 2px 10px 3px 10px;
	margin-right: 10px;
	min-width: 90px;
	text-align: center;
	visibility: collapse;
}

.AbilityLearn
{
	font-size: 14px;
	font-weight: bold;
	background-color: #00000033;
	padding: 5px 10px 4px 10px;
	margin: 4px 10px 4px 0px;
	min-width: 90px;
	text-align: center;
	color: #111111;
	background-color: brandGreen;
	border-radius: 3px;
	font-family: block;
	text-transform: uppercase;
}

.AbilityPassive,.AbilityUsed
{
	color: #ffffff;
}

.AbilityIcon
{
	width: 36px;
	height: 36px;
	vertical-align: middle;
	border-radius: 2px;
	margin-right: 10px;
	wash-color: offWhite;
}

.sandboxAbility1Learn .Ability1 .AbilityLearn,.sandboxAbility2Learn .Ability2 .AbilityLearn,.sandboxAbility3Learn .Ability3 .AbilityLearn,.sandboxAbility4Learn .Ability4 .AbilityLearn
{
	background-color: #00000066;
	color: offWhite&44;
	border-radius: 3px;
}

.sandboxAbility1Use .Ability1 .AbilityUse,.sandboxAbility1Used .Ability1 .AbilityUsed,.sandboxAbility1Passive .Ability1 .AbilityPassive,.sandboxAbility2Use .Ability2 .AbilityUse,.sandboxAbility2Used .Ability2 .AbilityUsed,.sandboxAbility2Passive .Ability2 .AbilityPassive,.sandboxAbility3Use .Ability3 .AbilityUse,.sandboxAbility3Used .Ability3 .AbilityUsed,.sandboxAbility3Passive .Ability3 .AbilityPassive,.sandboxAbility4Use .Ability4 .AbilityUse,.sandboxAbility4Used .Ability4 .AbilityUsed,.sandboxAbility4Passive .Ability4 .AbilityPassive
{
	visibility: visible;
}

#CloseShopTask,#ZoomTask,#SlideTask,#MantleTask
{
	visibility: collapse;
}

