/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.WindowRoot
{
	width: 100%;
	height: 100%;
}

#UnitStatus
{
	width: 100%;
	height: 100%;
	vertical-align: bottom;
	flow-children: up;
}

.name
{
	width: 100%;
	font-size: 250px;
	text-align: center;
	color: white;
	font-family: oracle;
	font-weight: semi-bold;
	text-overflow: shrink;
}

