/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'DefaultAnim'
{
	0%
	{
		transform: translateY( 1px );
	}
	
	50%
	{
		transform: translateX( 1px );
	}
	
	100%
	{
		transform: translateY( -1px );
	}
	
}

.buff
{
	horizontal-align: center;
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBarContainer
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: krillColor;
}

.BarAndNameContainer
{
	visibility: collapse;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	animation-frame-time: 200ms;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: unicornColor;
}

