/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'DefaultAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: kelvinColor;
	visibility: collapse;
}

.BarAndNameContainer
{
	visibility: collapse;
}

.AbilityNameLabel
{
	visibility: collapse;
}

@keyframes 'TextWiggle'
{
	0%
	{
		transform: translateY( -1px ) translateX( -1px );
	}
	
	100%
	{
		transform: translateY( 1px ) translateX( 0px );
	}
	
}

.ability_icebeam .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-name: TextWiggle;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.ability_icebeam .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-name: TextWiggle;
	animation-duration: 0.1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.ability_icebeam .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: kelvinColor;
}

@keyframes 'Zoomies'
{
	0%
	{
		transform: skew( -10deg ) translate3d( -2px, 0px, 0px );
	}
	
	100%
	{
		transform: skew( -10deg ) translate3d( 2px, 0px, 0px );
	}
	
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: Zoomies;
	animation-duration: 0.2s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n)
{
	animation-delay: 0.0s;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+1)
{
	animation-delay: 0.1s;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+2)
{
	animation-delay: 0.2s;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+3)
{
	animation-delay: 0.3s;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelName Image:nth-child(5n+4)
{
	animation-delay: 0.4s;
}

.ability_icepath .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: kelvinColor;
}

.ability_ice_dome.ability_element_progress
{
	transform: rotateZ(0deg);
	ui-scale: 70%;
	margin-left: 0px;
}

.ability_ice_dome .SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.ability_ice_dome .SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.ability_ice_dome .SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.ability_ice_dome .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: kelvinColor;
}

