/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

@import url("s2r://panorama/styles/citadel_base_styles.vcss_c");
@keyframes 'DefaultAnim'
{
	0%
	{
		transform: translateX( 1px );
	}
	
	50%
	{
		transform: translateY( 1px );
	}
	
	100%
	{
		transform: translateX( -1px );
	}
	
}

#fancy_progress_container
{
	visibility: visible;
}

#basic_progress_container
{
	visibility: collapse;
}

.ModifierProgressBar
{
	background-color: spiritBrightColor;
}

.BarAndNameContainer
{
	visibility: collapse;
}

.AbilityNameLabel
{
	visibility: collapse;
}

.SplitLabelProgressBar .SplitLabelName Image
{
	animation-name: DefaultAnim;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-frame-time: 300ms;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(odd)
{
	animation-direction: alternate-reverse;
}

.SplitLabelProgressBar .SplitLabelName Image:nth-child(even)
{
	animation-direction: alternate;
}

.SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: ominousGreen;
}

.upgrade_rescue_beam .SplitLabelProgress
{
	wash-color: fortitudeBrightColor;
}

.upgrade_self_bubble .SplitLabelProgress
{
	wash-color: spiritColor;
}

.upgrade_cloaking_device .SplitLabelProgressBar
{
	ui-scale: 100%;
	horizontal-align: right;
}

.upgrade_cloaking_device .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: courageColor;
}

.upgrade_ability_refresher .SplitLabelProgress
{
	wash-color: spiritColor;
}

.upgrade_magic_carpet .SplitLabelProgressBar,.summon_magic_carpet .SplitLabelProgressBar
{
	transform: rotateZ(-8deg);
	ui-scale: 100%;
	horizontal-align: right;
	margin-left: 600px;
}

.upgrade_magic_carpet .SplitLabelProgressBar .SplitLabelProgress,.summon_magic_carpet .SplitLabelProgressBar .SplitLabelProgress
{
	wash-color: spiritColor;
}

