/* Prettified by Source 2 Viewer - https://valveresourceformat.github.io */

.ability_element_progress
{
	height: sizeLarge;
	width: 500px;
	vertical-align: center;
	horizontal-align: center;
}

.ability_element_progress.medium
{
	height: sizeMedium;
}

.ability_element_progress.large
{
	height: sizeLarge;
}

.progress
{
	width: sizeSmall;
	height: sizeSmall;
	opacity: elementOpacity;
	border-radius: 50%;
	border: 8px solid elementBGColor;
}

.medium .progress
{
	width: sizeMedium;
	height: sizeMedium;
}

.large .progress
{
	width: sizeLarge;
	height: sizeLarge;
}

#cast
{
	width: 100%;
	height: 100%;
	visibility: collapse;
}

.active #cast
{
	visibility: visible;
}

#center_circle
{
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.2;
	width: 60px;
	height: 60px;
	border: 10px;
}

#center_circle.perfect_window
{
	border-color: #6dffb1;
	opacity: 0.5;
}

#large_circle
{
	vertical-align: center;
	horizontal-align: center;
	width: sizeLarge;
	height: sizeLarge;
	border: 5px;
}

